<p>
  <%= form.label :original_text %><br>
  <%= form.text_field :original_text %>
</p>
 
<p>
  <%= form.label :translated_text %><br>
  <%= form.text_area :translated_text %>
</p>

<p>
  <%= form.label :review_date %><br>
  <%= form.text_area :review_date %>

<% end %>
 
<%= link_to 'Back', cards_path %>